/* Code principal du site web */

html {
    overflow-x: hidden;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin: 0px;
    max-width: 100vw;
    overflow-x: hidden;
    /*background-color: rgb(238, 238, 238);*/
  }
  
  header {
    display: block;
    z-index: 0;
    height: 5%;
    @include elements-shadow;
    background-color: white;
    .website-logo {
      display: block;
      padding: 7% 5% 3% 5%;
      width: 50%;
      margin: auto;
    }
  }
  
  section.user-location {
    display: flex;
    z-index: 10;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(230, 230, 230);
    p {
      font-size: 0.9rem;
      font-weight: 600;
      color: rgba(30, 30, 30, 0.8);
      padding: 0.2rem;
      margin-left: 5px;
    }
  }
  
  section.explore-restaurant {
    display: flex;
    flex-direction: column;
    padding: 15% 5%;
    background-color: whitesmoke;
    h1 {
      padding: 0% 5%;
      font-size: 23px;
      text-align: center;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  
    p {
      font-size: 16px;
      text-align: center;
      padding: 0%;
    }
  }
  
  a {
    display: inline;
    color: white;
    font-size: 16px;
    text-decoration: none;
    background-image: linear-gradient($secondary-color, $primary-color);
    padding: 15px 20px;
    border-radius: 50px;
    margin: auto;
    @include elements-shadow;
  }
  
  section.how-to {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 5%;
    .steps-title {
      @include title-style;
    }
    .step {
      display: flex;
      flex-direction: row;
      padding: 5% 5% 2% 0%;
      border-radius: 20px;
      @include elements-shadow;
      margin: 5%;
      background-color: whitesmoke;
      .step-number {
        color: white;
        background-color: $primary-color;
        padding: 5px 9px;
        margin: 5% 0% 5% -5%;
        border-radius: 50%;
      }
  
      .step-icon {
        color: rgb(100, 100, 100);
        font-size: 15px;
        margin-left: 15px;
      }
  
      .step-text {
        font-size: 15px;
        font-weight: 600;
        margin-left: 20px;
      }
    }
  }
  
  section#restaurants-choice {
    background-color: white-smoke;
    margin: 5%;
    .restaurants-title {
      @include title-style;
    }
  
    .restaurant-block
    {
      display: flex;
      width: 100vw;
    }
  }
  