.delay-seconds {
  animation-delay: 1s;
}
.delay-seconds {
  animation-delay: 1000ms;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 80;
  background-color: white;
  width: 100vw;
  height: 100%;
  animation: loading-screen-anim 500ms $loading-screen-delay both;
}

/* Cette portion de code est ma première approche de l'écran de chargement : Une barre de progression.

.progress {
  display: flex;
  justify-content: center;
  border-radius: 255px;
  width: 90%;
  height: 5%;
  h2 {
    width: fit-content;
    text-align: center;
    color: white;
    font-family: "Shrikhand";
    font-size: 25px;
    font-weight: 200;
    margin: auto;
    position: fixed;
    z-index: 20;
  }
  &__bar {
    transform-origin: left;
    transform: scaleX(0.5);
    animation: progress-bar $prog-bar-dur $prog-bar-delay both;
    z-index: 10;
    background: linear-gradient(170deg, #ff79da, #9356dc);
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }
}
*/

/* Animation de la sélection d'un plat sur la page des menus */

.menu-categories {
  .menu-block {
    &:hover .checkbox {
      width: $menu-food-size;
      left: 83.9%;
    }
    &:hover .description-price {
      width: 80%;
      transition: ease 500ms;
    }
    &:hover i {
      animation: checkbox-rotatein 0.5s ease;
      transition: 50ms;
    }
  }
}

/* Fin du scss principal des pages de menus. Résolution minimale : 360px */
@media (min-width: 360px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 87%;
          }
      }
  }
}

/* Résolution minimale : 375px */
@media (min-width: 375px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 87%;
          }
      }
  }
}

/* Résolution minimale : 425px */
@media (min-width: 425px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 88%;
          }
      }
  }
}

/* Résolution minimale : 720px */
@media (min-width: 720px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 88.2vw;
          }
      }
  }
}

/* Résolution minimale : 767px */
@media (min-width: 767px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 94%;
          }
      }
  }
}

/* Résolution minimale : 768px - Format tablette*/
@media (min-width: 768px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 84%;
          }
      }
  }
}

/* Résolution minimale : 1024px - Format tablette*/
@media (min-width: 1024px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 88%;
          }
      }
  }
}

/* Résolution minimale : 1280px - Format tablette*/
@media (min-width: 1280px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 87%;
          }
      }
  }
}

/* Résolution minimale : 1440px - Format tablette*/
@media (min-width: 1440px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 88%;
          }
      }
  }
}

/* Résolution minimale : 1536px - Format Desktop*/
@media (min-width: 1536px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 89%;
          }
      }
  }
}

/* Résolution minimale : 1680px - Format Desktop*/
@media (min-width: 1680px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 90.5%;
          }
      }
  }
}

/* Résolution minimale : 1920px - Format Desktop*/
@media (min-width: 1920px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 91%;
          }
      }
  }
}

/* Résolution minimale : 2560px - Format Desktop*/
@media (min-width: 2560px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 93.5%;
          }
      }
  }
}
