/* Propriétés de l'écran de chargement (page d'accueil) */
.loading-screen {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 80;
  background-color: white;
  width: 100vw;
  height: 100%;
  animation: loading-screen-anim 500ms $loading-screen-delay both;
}

/* Propriétés du spinner de chargement (page d'accueil) */
.spinner {
  height: 10vw;
  width: 10vw;
  border: 5px solid $primary-color;
  border-top-color: $secondary-color;
  border-radius: 100%;
  animation: spinner-rotation 0.7s infinite ease 0.25s;
}

/* Propriété du logo de l'écran de chargement (page d'accueil) */
.loading-logo {
  font-family: "Shrikhand";
}

/* Animation de la sélection d'un plat sur la page des menus */
.menu-categories {
  .menu-block {
    &:hover .checkbox {
      width: $menu-food-size;
      left: 83.9%;
    }
    &:hover .description-price {
      width: 80%;
      transition: ease 500ms;
    }
    &:hover i {
      animation: checkbox-rotatein 0.5s ease;
      transition: 50ms;
    }
  }
}

/* Fin du scss principal des pages de menus. Résolution minimale : 360px */
@media (min-width: 360px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 87%;
          }
      }
  }
}

/* Résolution minimale : 375px */
@media (min-width: 375px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 87%;
          }
      }
  }
}

/* Résolution minimale : 425px */
@media (min-width: 425px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 88%;
          }
      }
  }
}

/* Résolution minimale : 720px */
@media (min-width: 720px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 88.2vw;
          }
      }
  }
}

/* Résolution minimale : 767px */
@media (min-width: 767px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 94%;
          }
      }
  }
}

/* Résolution minimale : 768px - Format tablette*/
@media (min-width: 768px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 84%;
          }
      }
  }
}

/* Résolution minimale : 1024px - Format tablette*/
@media (min-width: 1024px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 88%;
          }
      }
  }
}

/* Résolution minimale : 1280px - Format tablette*/
@media (min-width: 1280px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 87%;
          }
      }
  }
}

/* Résolution minimale : 1440px - Format tablette*/
@media (min-width: 1440px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 88%;
          }
      }
  }
}

/* Résolution minimale : 1536px - Format Desktop*/
@media (min-width: 1536px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 89%;
          }
      }
  }
}

/* Résolution minimale : 1680px - Format Desktop*/
@media (min-width: 1680px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 90.5%;
          }
      }
  }
}

/* Résolution minimale : 1920px - Format Desktop*/
@media (min-width: 1920px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 91%;
          }
      }
  }
}

/* Résolution minimale : 2560px - Format Desktop*/
@media (min-width: 2560px) {
  .menu-categories {
      .menu-block {
          &:hover .checkbox {
              left: 93.5%;
          }
      }
  }
}
