@keyframes loading-screen-anim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes spinner-rotation {
  0% {
    transform: rotate(20deg);
  }
  90% {
    transform: rotate(350deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes progrssive-spawn {
  0% {
    transform: translateY(-2);
  }
  100% {
    transform: translateY(0);
  }
}