@keyframes loading-screen-anim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes loading-text {
  0% {
    content: " ";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  99% {
    content: "...";
  }
}

@keyframes progress-bar {
  0% {
    transform: scaleX(0);
    opacity: 0.1;
    border-radius: 5555px;
  }
  17% {
    transform: scaleX(0.1);
  }
  24% {
    transform: scaleX(0.55);
  }
  46% {
    transform: scaleX(0.81);
  }
  85%,
  100% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}