/* Variables des éléments graphiques du site */
$primary-color: #9356dc;
$secondary-color: #ff79da;
$terciary-color: #99e2d0;

/* Animation variables */
$anim-duration-standard: 2000ms;
$prog-bar-delay: 150ms;
$loading-screen-delay: $anim-duration-standard + $prog-bar-delay * 2;

/* Variables des tailles */
$menu-food-size: 48.75px;
$restaurant-image-size: 90vw;
$restaurant-image-size-tab: 40vw;
$restaurant-image-size-desktop: 20vw;
