/* Code spécifique à la page d'accueil */

#user-location {
  display: flex;
  z-index: 10;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(230, 230, 230);
  p {
    font-size: 0.9rem;
    font-weight: 600;
    color: rgba(30, 30, 30, 0.8);
    padding: 0.2rem;
    margin-left: 5px;
  }
}

#explore-restaurant {
  display: flex;
  flex-direction: column;
  padding: 15% 5%;
  background-color: whitesmoke;
  h1 {
    padding: 0% 5%;
    font-size: 23px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  p {
    font-size: 16px;
    text-align: center;
    padding: 0%;
  }
}

a.restaurant-page {
  text-decoration: none;
}

#how-to {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 20%;
  .steps-title {
    @include title-style;
  }
  .step {
    display: flex;
    flex-direction: row;
    padding: 5% 5% 2% 0%;
    border-radius: 20px;
    @include elements-shadow;
    margin: 8%;
    margin-bottom: 2%;
    background-color: whitesmoke;
    .step-number {
      color: white;
      background-color: $primary-color;
      padding: 5px 9px;
      margin: 5% 0% 5% -5%;
      border-radius: 50%;
    }

    .step-icon {
      color: rgb(100, 100, 100);
      font-size: 15px;
      margin-left: 15px;
    }

    .step-text {
      font-size: 15px;
      font-weight: 600;
      margin-left: 20px;
    }
  }
}

/* Style de la section comprenant les restaurants disponibles */
#restaurants-choice {
  background-color: whitesmoke;
  padding-bottom: 15%;
  .restaurants-title {
    @include title-style;
    padding: 15% 0% 5%;
  }

  .restaurant-block {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 5%;
    @include elements-shadow;
    width: 90vw;
    background-color: white;
    border-radius: 15px;
    img {
      position: relative;
      object-fit: cover;
      object-position: 50% -20px;
      width: 90vw;
      height: 150px;
      border-radius: 15px 15px 0px 0px;
    }
    .restaurant-new {
      position: relative;
      top: -140px;
      right: -65%;
      background-color: $terciary-color;
      color: green;
      font-size: 15px;
      border-radius: 3px;
      padding: 0px;
      width: fit-content;
      p {
        padding: 0px 10px;
        margin: 5px;
        font-weight: 700;
      }
    }
    .restaurant-details {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0% 5%;
      color: black;
      div {
        h3 {
          font-size: 18px;
          font-weight: 700;
          line-height: 15px;
        }
        p {
          font-size: 18px;
          font-weight: 300;
          line-height: 5px;
        }
      }
      i {
        font-size: 25px;
        font-weight: 400;
        color: black;
      }
    }
  }
}
