footer {
  background-color: rgb(60, 60, 60);
  color: white;
  padding-bottom: 20px;
  h2 {
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    font-size: 18px;
    width: 90vw;
    margin: auto;
    padding: 5% 0% 1%;
  }
  div {
    display: flex;
    flex-direction: column;
    width: 90vw;
    font-size: 15px;
    margin: auto;
    a {
      margin-bottom: 10px;
      font-weight: 400;
      text-decoration: none;
      color: white;
      &:active {
        color: $primary-color;
        background-color: transparent;
      }
    }
  }
}

@media (min-width: 720px) and (max-width: 767px) {
  footer {
    h2 {
      font-size: 28px;
      margin-bottom: 25px;
    }
    a {
      font-size: 25px;
      line-height: 35px;
    }
    padding-bottom: 35px;
  }
}
