/* Import des polices utilisées pour le site web */
/* Shrikhand */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Code principal du site web */
/* Variables des éléments graphiques du site */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$terciary-color: #99E2D0;
